<h2>Available Courses</h2>
<button (click)="toggleCourses()">
  {{ showCourses ? 'Hide Courses' : 'Show Courses' }}
</button>

<br><br>

<label>Search Course:</label>

<input
  type="text"
  [(ngModel)]="searchText"
  placeholder="Enter course name">

<p>You typed: <strong>{{ searchText }}</strong></p>

<hr>

<p><strong>Selected Course:</strong> {{ selectedCourse }}</p>

<div *ngIf="showCourses">
  <app-course-card
  *ngFor="let c of courses"
  [course]="c"
  (enrollRequested)="onEnroll($event)">
</app-course-card>
</div>
<p *ngIf="selectedCourseId">
  Selected Course ID: {{ selectedCourseId }}
</p>
